@import url(base.css);

/* General page */
body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

/* Titles */
h1 {
  font-size: 200%;
  margin: 8px 0px;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-bottom: 5px;
}

/* Movie card */
article {
  display: flex;
  gap: 20px;
  background-color: lightgray;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

article:hover {
  transform: scale(1.01);
}

/* Poster */
img {
  max-width: 200px;
  border-radius: 12px;
  flex-shrink: 0;
}

/* Text */
p {
  line-height: 1.5;
}

/* Lists */
ul {
  padding-left: 20px;
  margin-top: 5px;
}

/* Genre tags */
span {
  margin-right: 4px;
}

.genre {
  padding: 4px 8px;
  border: solid black 1px;
  border-radius: 6px;
  background-color: darkgray;
  font-weight: bold;
  display: inline-block;
}

/* Form elements */
input {
  width: 100%;
}

select {
  width: 100%;
}

textarea {
  width: 100%;
}